<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novel shop</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <button><h1>Novel shop</h1></button>
      <h2>หมวก 1</h2>
      <h2>หมวก 2</h2>
      <h2>หมวก 3</h2>
    </nav>
    
  </body>
</html>
