@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Rubik+Bubbles&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Kanit&family=Noto+Serif+Thai&family=Rubik+Bubbles&family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Kanit&family=Noto+Serif+Thai&family=Rubik+Bubbles&display=swap");

.navbar-font {
  font-family: "Fredoka One", cursive;
  font-size: 2em;
}

.navbar-collapse {
  font-family: "Noto Serif Thai", serif;
  font-size: 1rem;
}

.shop-title {
  font-family: "Titan One", cursive;
  font-size: 5rem;
}

.shop-cai {
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  top: -1rem;
}

.ranbow-color {
  background-color: #c66ff8;
  background-image: -webkit-linear-gradient(70deg, #f31667 50%, #1493e7 50%);
}

.rectecular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #cdb4db;
  background-image: -webkit-linear-gradient(65deg, #fa5692 25%, #4fb9ff 75%);
}

.card {
  position: static;
}
